<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="">首页</a></li>
		<li><a href="">对客服务统计</a></li>
		<li><a href="">布草统计</a></li>
	</ul>
</div>

<div class="rightinfo">

	<div>
		<div>
			<form action="exportLinenExpendForm.do" method="post"
				enctype="multipart/form-data">
				<ul class="projectListLimit">
					<li><label>起止日期</label><input type="text" name="startTime"
						ng-model="llimit.startTime" class="dfselect dateLayoutStyle"
						onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "onChange=""><label>—</label><input
						type="text" name="endTime" ng-model="llimit.endTime"
						class="dfselect dateLayoutStyle"
						onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "onChange=""></li>
					<li><lable>选择报表类型</lable><select class="dfselect layoutStyle"
						style="width: 140px" ng-model="llimit.formType" name="formType"
						id="linenFormType" ng-change="getFormNameByNo()" required>
							<option value="{{f.id}}" ng-repeat="f in formTypes">{{f.type}}</option>
					</select></li>
					<li><input type="text" name="formName" class="hidden"
						ng-model="formName"></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="button" value="查询"
						ng-click="selectLinenExpendFormByLlimits()"></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="submit" value="导出"></li>
				</ul>

			</form>
		</div>

	</div>

	<table class="tablelist">
		<thead>
			<tr>
				<th class="width3">序号</th>
				<th class="width3">房号</th>
				<th class="width3">被罩</th>
				<th class="width3">拼尘罩</th>
				<th class="width3">洗衣袋</th>
				<th class="width3">床单</th>
				<th class="width3">面巾</th>
				<th class="width3">浴巾</th>
				<th class="width3">方巾</th>
				<th class="width3">中巾</th>
				<th class="width3">地巾</th>
				<th class="width3">浴袍</th>
				<th class="width3">枕套</th>
				<th class="width3">枕芯</th>
				<th class="width3">毛毯</th>
				<th class="width3">购物袋</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="linen in linenExpendFormList">
				<td>{{linen.orderNum}}</td>
				<td>{{linen.room_id}}</td>
				<td>{{linen.slba_num}}</td>
				<td>{{linen.duto_num}}</td>
				<td>{{linen.laba_num}}</td>
				<td>{{linen.besh_num}}</td>
				<td>{{linen.facl_num}}</td>
				<td>{{linen.bato_num}}</td>
				<td>{{linen.hato_num}}</td>
				<td>{{linen.medo_num}}</td>
				<td>{{linen.flto_num}}</td>
				<td>{{linen.baro_num}}</td>
				<td>{{linen.pill_num}}</td>
				<td>{{linen.piin_num}}</td>
				<td>{{linen.blan_num}}</td>
				<td>{{linen.shop_num}}</td>
			</tr>
		</tbody>
	</table>
	<div class="tcdPageCode">页码容器</div>
	<label class="error-label" ng-show="listIsShow">对不起，未找到相关数据</label>
</div>



