<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="">对客服务/布草用量分析</a></li>
	</ul>
</div>

<div class="rightinfo">

	<div>
		<div>
			<form action="exportLinenExpendPic.do" method="post"
				enctype="multipart/form-data">
				<ul class="projectListLimit">
					<li><label>起止日期</label><input type="text" name="startTime"
						ng-model="allimit.startTime" class="dfselect dateLayoutStyle"
						onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "><label>—</label><input
						type="text" name="endTime" ng-model="allimit.endTime"
						class="dfselect dateLayoutStyle"
						onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="button" value="查询" ng-click="selectLinenExpendAnalyseByLlimits()"></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="submit" value="导出"></li>
					<li><input id="bar-svg" name="chartSVGStr1"  type="text" class="hidden" /></li>	
					<li><input id="bar-svg" name="chartSVGStr2"  type="text" class="hidden" /></li>	
				</ul>

			</form>
			<label class="error-label" ng-show="listIsShow">对不起，未找到相关数据</label>
		</div>
		<div id="pieChart" style="min-width: 400px; width: 1000px; height: 400px"></div>
		<div id="bar1" style="width: 800px; height: 1200px; margin: 0 auto"></div>




