<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="">对客服务/布草用量分析</a></li>
	</ul>
</div>

<div class="rightinfo">

	<div>
		<div>
			<form action="exportDepWorkload.do" method="post"
				enctype="multipart/form-data">
				<ul class="projectListLimit">
					<li><label>起止日期</label><input type="text" name="llimit.startTime"
						ng-model="llimit.startTime" class="dfselect dateLayoutStyle"
						onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "><label>—</label><input
						type="text" name="llimit.endTime" ng-model="llimit.endTime"
						class="dfselect dateLayoutStyle"
						onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="button" value="查询" ng-click=""></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="submit" value="导出"></li>
				</ul>

			</form>
		</div>




