<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="">首页</a></li>
		<li><a href="">对客服务统计</a></li>
		<li><a href="">迷你吧耗品统计</a></li>
	</ul>
</div>

<div class="rightinfo">

	<div>
		<div>
			<form action="exportMiniExpendForm.do" method="post"
				enctype="multipart/form-data">
				<ul class="projectListLimit">
					<li><label>起止日期</label><input type="text" name="startTime"
						ng-model="mlimit.startTime" class="dfselect dateLayoutStyle"
						onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "onChange=""><label>—</label><input
						type="text" name="endTime" ng-model="mlimit.endTime"
						class="dfselect dateLayoutStyle"
						onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "onChange=""></li>
					<li><lable>选择报表类型</lable><select class="dfselect layoutStyle"
					style="width: 140px" ng-model="mlimit.formType" name="formType"  id="linenFormType" ng-change="getFormNameByNo()"
					required>
						<option value="{{f.id}}" ng-repeat="f in formTypes">{{f.type}}</option></select></li>
					<li><input type="text" name="formName" class="hidden" ng-model="formName"></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="button" value="查询" ng-click="selectMiniExpendFormByMlimits()"></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="submit" value="导出"></li>
				</ul>

			</form>
		</div>

	</div>
	
	<table class="tablelist">
		<caption class="table_title">迷你吧使用量合计</caption>
		<thead>
			<tr>
				<th class="width3">红牛</th>
				<th class="width3">可口可乐</th>
				<th class="width3">巴黎水</th>
				<th class="width3">大依云</th>
				<th class="width3">加多宝</th>
				<th class="width3">小依云</th>
				<th class="width3">昆仑山</th>
				<th class="width3">红葡萄酒</th>
				<th class="width3">威士忌</th>
				<th class="width3">伏加特</th>
				<th class="width3">金酒</th>
				<th class="width3">青岛听装</th>
				<th class="width3">雪碧</th>
				<th class="width3">指甲刀</th>
				<th class="width3">卫生巾</th>
				<th class="width3">扑克牌</th>
				<th class="width3">安全套</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{miniCount.sum_redb}}</td>
				<td>{{miniCount.sum_coco}}</td>
				<td>{{miniCount.sum_pari}}</td>
				<td>{{miniCount.sum_bige}}</td>
				<td>{{miniCount.sum_jdba}}</td>
				<td>{{miniCount.sum_tine}}</td>
				<td>{{miniCount.sum_kunl}}</td>
				<td>{{miniCount.sum_wine}}</td>
				<td>{{miniCount.sum_bree}}</td>
				<td>{{miniCount.sum_vodk}}</td>
				<td>{{miniCount.sum_auru}}</td>
				<td>{{miniCount.sum_qing}}</td>
				<td>{{miniCount.sum_spri}}</td>
				<td>{{miniCount.sum_nail}}</td>
				<td>{{miniCount.sum_abcs}}</td>
				<td>{{miniCount.sum_card}}</td>
				<td>{{miniCount.sum_como}}</td>
		</tbody>
	</table>
	
	<table class="tablelist">
	<caption class="table_bottom">迷你吧使用量</caption>
			<tr>
				<th class="a">序号</th>
				<th class="a">房号</th>
				<th class="a">红牛</th>
				<th class="a">可口可乐</th>
		        <th class="a">巴黎水</th>
		        <th class="a">大依云</th>
		        <th class="a">加多宝</th>
		        <th class="a">小依云</th>
		        <th class="a">昆仑山</th>
		        <th class="a">红葡萄酒</th>
		        <th class="a">威士忌</th>
		        <th class="a">伏加特</th>
		        <th class="a">金酒</th>
		        <th class="a">青岛听装</th>
		        <th class="a">雪碧</th>
		        <th class="a">指甲刀</th>
		        <th class="a">卫生巾</th>
		        <th class="a">扑克牌</th>
		        <th class="a">安全套</th>
			</tr>
			
		<tbody ng-repeat="mini in miniExpendFormList">
			<tr>
				<td>{{mini.orderNum}}</td>
				<td>{{mini.room_id}}</td>
				<td>{{mini.redb_num}}</td>
				<td>{{mini.coco_num}}</td>
				<td>{{mini.pari_num}}</td>
				<td>{{mini.bige_num}}</td>
				<td>{{mini.jdba_num}}</td>
				<td>{{mini.tine_num}}</td>
				<td>{{mini.kunl_num}}</td>
				<td>{{mini.wine_num}}</td>
				<td>{{mini.bree_num}}</td>
				<td>{{mini.vodk_num}}</td>
				<td>{{mini.auru_num}}</td>
				<td>{{mini.qing_num}}</td>
				<td>{{mini.spri_num}}</td>
				<td>{{mini.nail_num}}</td>
				<td>{{mini.abcs_num}}</td>
				<td>{{mini.card_num}}</td>
				<td>{{mini.como_num}}</td>
			</tr>
		</tbody>
	</table>
	<div class="tcdPageCode">页码容器</div>
	<label class="error-label" ng-show="listIsShow">对不起，未找到相关数据</label>
</div>

