<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="">首页</a></li>
		<li><a href="">对客服务统计</a></li>
		<li><a href="">房间耗品统计</a></li>
	</ul>
</div>

<div class="rightinfo">

	<div>
		<div>
			<form action="exportRoomExpendForm.do" method="post"
				enctype="multipart/form-data">
				<ul class="projectListLimit">
					<li><label>起止日期</label><input type="text" name="startTime"
						ng-model="rlimit.startTime" class="dfselect dateLayoutStyle"
						onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "onChange=""><label>—</label><input
						type="text" name="endTime" ng-model="rlimit.endTime"
						class="dfselect dateLayoutStyle"
						onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "onChange=""></li>
					<li><lable>选择报表类型</lable><select class="dfselect layoutStyle"
					style="width: 140px" ng-model="rlimit.formType" name="formType"  id="linenFormType" ng-change="getFormNameByNo()"
					required>
						<option value="{{f.id}}" ng-repeat="f in formTypes">{{f.type}}</option></select></li>
					<li><input type="text" name="formName" class="hidden" ng-model="formName"></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="button" value="查询" ng-click="selectRoomExpendFormByRlimits()"></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="submit" value="导出"></li>
				</ul>

			</form>
		</div>

	</div>

	<table class="tablelist">
		<caption class="table_title">房间易耗品使用量合计</caption>
		<thead>
			<tr>
				<th class="a">雨伞</th>
				<th class="a">咖啡</th>
				<th class="a">白糖</th>
				<th class="a">伴侣</th>
				<th class="a">铅笔</th>
				<th class="a">橡皮</th>
				<th class="a">即扫牌</th>
				<th class="a">面巾纸</th>
				<th class="a">环保卡</th>
				<th class="a">手提袋</th>
				<th class="a">袋泡茶</th>
				<th class="a">送餐牌</th>
				<th class="a">意见书</th>
				<th class="a">立顿红茶</th>
				<th class="a">请勿打扰牌</th>
				<th class="a">电视节目单</th>
				<th class="a">信封（普通）</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{roomCount.sum_umbr}}</td>
				<td>{{roomCount.sum_coff}}</td>
				<td>{{roomCount.sum_suge}}</td>
				<td>{{roomCount.sum_coup}}</td>
				<td>{{roomCount.sum_penc}}</td>
				<td>{{roomCount.sum_erse}}</td>
				<td>{{roomCount.sum_clca}}</td>
				<td>{{roomCount.sum_fati}}</td>
				<td>{{roomCount.sum_enca}}</td>
				<td>{{roomCount.sum_bage}}</td>
				<td>{{roomCount.sum_teab}}</td>
				<td>{{roomCount.sum_meca}}</td>
				<td>{{roomCount.sum_opbo}}</td>
				<td>{{roomCount.sum_blte}}</td>
				<td>{{roomCount.sum_dnds}}</td>
				<td>{{roomCount.sum_tvca}}</td>
				<td>{{roomCount.sum_orel}}</td>
		</tbody>
		<thead>
			<tr>
				<th class="a">便签</th>
				<th class="a">杯垫</th>
				<th class="a">火柴</th>
				<th class="a">地图</th>
				<th class="a">尺子</th>
				<th class="a">信纸</th>
				<th class="a">回形针</th>
				<th class="a">圆珠笔</th>
				<th class="a">针线包</th>
				<th class="a">洗衣单</th>
				<th class="a">低卡糖</th>
				<th class="a">擦鞋布</th>
				<th class="a">防毒面具</th>
				<th class="a">立顿绿茶</th>
				<th class="a">拖鞋（儿童）</th>
				<th class="a">彩色曲别针</th>
				<th class="a">信封（航空）</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{roomCount.sum_memo}}</td>
				<td>{{roomCount.sum_coas}}</td>
				<td>{{roomCount.sum_matc}}</td>
				<td>{{roomCount.sum_mapp}}</td>
				<td>{{roomCount.sum_rule}}</td>
				<td>{{roomCount.sum_stat}}</td>
				<td>{{roomCount.sum_clip}}</td>
				<td>{{roomCount.sum_bape}}</td>
				<td>{{roomCount.sum_comp}}</td>
				<td>{{roomCount.sum_lali}}</td>
				<td>{{roomCount.sum_losu}}</td>
				<td>{{roomCount.sum_shpa}}</td>
				<td>{{roomCount.sum_anma}}</td>
				<td>{{roomCount.sum_grte}}</td>
				<td>{{roomCount.sum_chsl}}</td>
				<td>{{roomCount.sum_cocl}}</td>
				<td>{{roomCount.sum_arel}}</td>
		</tbody>
	</table>
	
	<table class="tablelist">
	<caption class="table_bottom">房间易耗品使用量</caption>
			<tr>
				<th class="a" rowspan="2">序号</th>
				<th class="a" rowspan="2">房号</th>
				<th class="a">雨伞</th>
				<th class="a">咖啡</th>
		        <th class="a">白糖</th>
		        <th class="a">伴侣</th>
		        <th class="a">铅笔</th>
		        <th class="a">橡皮</th>
		        <th class="a">即扫牌</th>
		        <th class="a">面巾纸</th>
		        <th class="a">环保卡</th>
		        <th class="a">手提袋</th>
		        <th class="a">袋泡茶</th>
		        <th class="a">送餐牌</th>
		        <th class="a">意见书</th>
		        <th class="a">立顿红茶</th>
		        <th class="a">请勿打扰牌</th>
		        <th class="a">电视节目单</th>
		        <th class="a">信封(普通)</th>
			</tr>
			<tr>
			    <th class="a">便签</th>
		        <th class="a">杯垫</th>
		        <th class="a">火柴</th>
		        <th class="a">地图</th>
		        <th class="a">尺子</th>
		        <th class="a">信纸</th>
		        <th class="a">回形针</th>
		        <th class="a">圆珠笔</th>
		        <th class="a">针线包</th>
		        <th class="a">洗衣单</th>
		        <th class="a">低卡糖</th>
		        <th class="a">擦鞋布</th>
		        <th class="a">防毒面具</th>
		        <th class="a">立顿绿茶</th>
		        <th class="a">拖鞋(儿童)</th>
		        <th class="a">彩色曲别针</th>
		        <th class="a">信封(航空)</th>
		      
		      </tr>
		<tbody ng-repeat="room in roomExpendFormList">
			<tr>
				<td rowspan="2">{{room.orderNum}}</td>
				<td rowspan="2">{{room.room_id}}</td>
				<td>{{room.umbr_num}}</td>
				<td>{{room.coff_num}}</td>
				<td>{{room.suge_num}}</td>
				<td>{{room.coup_num}}</td>
				<td>{{room.penc_num}}</td>
				<td>{{room.erse_num}}</td>
				<td>{{room.clca_num}}</td>
				<td>{{room.fati_num}}</td>
				<td>{{room.enca_num}}</td>
				<td>{{room.bage_num}}</td>
				<td>{{room.teab_num}}</td>
				<td>{{room.meca_num}}</td>
				<td>{{room.opbo_num}}</td>
				<td>{{room.blte_num}}</td>
				<td>{{room.dnds_num}}</td>
				<td>{{room.tvca_num}}</td>
				<td>{{room.orel_num}}</td>
			</tr>
            <tr>
				<td>{{room.memo_num}}</td>
				<td>{{room.coas_num}}</td>
				<td>{{room.matc_num}}</td>
				<td>{{room.mapp_num}}</td>
				<td>{{room.rule_num}}</td>
				<td>{{room.stat_num}}</td>
				<td>{{room.clip_num}}</td>
				<td>{{room.bape_num}}</td>
				<td>{{room.comp_num}}</td>
				<td>{{room.lali_num}}</td>
				<td>{{room.losu_num}}</td>
				<td>{{room.shpa_num}}</td>
				<td>{{room.anma_num}}</td>
				<td>{{room.grte_num}}</td>
				<td>{{room.chsl_num}}</td>
				<td>{{room.cocl_num}}</td>
				<td>{{room.arel_num}}</td>
			</tr>

		</tbody>
	</table>
	<div class="tcdPageCode">页码容器</div>
	<label class="error-label" ng-show="listIsShow">对不起，未找到相关数据</label>
</div>



