<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="">对客服务/房间耗品统计</a></li>
	</ul>
</div>

<div class="rightinfo">

	<div>
		<div>
			<form action="exportDepWorkload.do" method="post"
				enctype="multipart/form-data">
				<ul class="projectListLimit">
					<li><label>起止日期</label><input type="text" name="rlimit.startTime"
						ng-model="rlimit.startTime" class="dfselect dateLayoutStyle"
						onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "><label>—</label><input
						type="text" name="rlimit.endTime" ng-model="rlimit.endTime"
						class="dfselect dateLayoutStyle"
						onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "></li>
					<li><lable>选择报表类型</lable><select class="dfselect layoutStyle"
					style="width: 140px" ng-model="limit.formType" name="limit.formType"
					required>
						<option value="{{f.id}}" ng-repeat="f in formTypes">{{f.type}}</option></select></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="button" value="查询" ng-click="selectRoomExpendFormByLimits()"></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="submit" value="导出"></li>
				</ul>

			</form>
		</div>

	</div>

	<table class="tablelist">
		<thead>
			<tr>
				<th class="a" rowspan="2">序号</th>
				<th class="a" rowspan="2">房号</th>
				<th class="a">雨伞</th>
				<th class="a">咖啡</th>
		        <th class="a">白糖</th>
		        <th class="a">伴侣</th>
		        <th class="a">铅笔</th>
		        <th class="a">橡皮</th>
		        <th class="a">即扫牌</th>
		        <th class="a">面巾纸</th>
		        <th class="a">环保卡</th>
		        <th class="a">手提袋</th>
		        <th class="a">袋泡茶</th>
		        <th class="a">送餐牌</th>
		        <th class="a">意见书</th>
		        <th class="a">立顿红茶</th>
		        <th class="a">请勿打扰牌</th>
		        <th class="a">电视节目单</th>
		        <th class="a">信封(普通)</th>
			</tr>
			<tr>
			    <th class="a">便签</th>
		        <th class="a">杯垫</th>
		        <th class="a">火柴</th>
		        <th class="a">地图</th>
		        <th class="a">尺子</th>
		        <th class="a">信纸</th>
		        <th class="a">回形针</th>
		        <th class="a">圆珠笔</th>
		        <th class="a">针线包</th>
		        <th class="a">洗衣单</th>
		        <th class="a">低卡糖</th>
		        <th class="a">擦鞋布</th>
		        <th class="a">防毒面具</th>
		        <th class="a">立顿绿茶</th>
		        <th class="a">拖鞋(儿童)</th>
		        <th class="a">彩色曲别针</th>
		        <th class="a">信封(航空)</th>
		      
		      </tr>
		</thead>
		<tbody>
			<tr ng-repeat="">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<label class="error-label" ng-show="listIsShow">对不起，未找到相关数据</label>
</div>



