<div class="place">
	<span>位置：</span>
	<ul class="placeul">
		<li><a href="">对客服务/卫生间易消耗品统计</a></li>
	</ul>
</div>

<div class="rightinfo">

	<div>
		<div>
			<form action="exportWashExpendForm.do" method="post"
				enctype="multipart/form-data">
				<ul class="projectListLimit">
					<li><label>起止日期</label><input type="text" name="startTime"
						ng-model="wlimit.startTime" class="dfselect dateLayoutStyle"
						onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "><label>—</label><input
						type="text" name="endTime" ng-model="wlimit.endTime"
						class="dfselect dateLayoutStyle"
						onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "></li>
					<li><label>选择报表类型</label><select class="dfselect layoutStyle"
					    style="width: 140px" ng-model="wlimit.formType" name="formType" id="linenFormType" ng-change="getFormNameByNo()"
					    required>
						<option value="{{f.id}}" ng-repeat="f in formTypes">{{f.type}}</option></select></li>
					<li><input type="text" name="formName" class="hidden" ng-model="formName"></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="button" value="查询" ng-click="selectWashExpendFormByWlimits()"></li>
					<li><input class="btn layoutStyle" style="width: 60px"
						type="submit" value="导出"></li>
				</ul>

			</form>
		</div>

	</div>

	<table class="tablelist">
			<tr>
				<th class="a" rowspan="2">序号</th>
				<th class="a" rowspan="2">房号</th>
				<th class="a">牙具</th>
				<th class="a">卷纸</th>
		        <th class="a">洗发液</th>
		        <th class="a">沐浴液</th>
		        <th class="a">护发素</th>
		        <th class="a">润肤露</th>
		        <th class="a">护理包</th>
		        <th class="a">黑垃圾袋</th>
		        <th class="a">抽纸</th>
		        <th class="a">卫生袋</th>
		        <th class="a">浴帽</th>
		        <th class="a">剃须刨</th>
		        <th class="a">梳子</th>
		     </tr>
		     <tr>
		        <th class="a">擦鞋布</th>
		        <th class="a">手皂</th>
		        <th class="a">指甲锉</th>
		        <th class="a">干花</th>
		        <th class="a">浴盐</th>
		        <th class="a">百洁布</th>
		        <th class="a">橡皮手套</th>
		        <th class="a">洗涤灵</th>
		        <th class="a">洗消净</th>
		        <th class="a">浴室清洁剂</th>
		        <th class="a">洁厕灵</th>
		        <th class="a">浴缸刷</th>
		        <th class="a">恭桶刷</th>
			</tr>
		<tbody ng-repeat="wash in washExpendFormList">
			<tr>
				<td rowspan="2">{{wash.orderNum}}</td>
				<td rowspan="2">{{wash.room_id}}</td>
				<td>{{wash.toth_num}}</td>
				<td>{{wash.ropa_num}}</td>
				<td>{{wash.rins_num}}</td>
				<td>{{wash.bafo_num}}</td>
				<td>{{wash.haco_num}}</td>
				<td>{{wash.shge_num}}</td>
				<td>{{wash.capa_num}}</td>
				<td>{{wash.garb_num}}</td>
				<td>{{wash.paex_num}}</td>
				<td>{{wash.peep_num}}</td>
				<td>{{wash.shca_num}}</td>
				<td>{{wash.shav_num}}</td>
				<td>{{wash.comb_num}}</td>
			</tr>
			<tr>
				<td>{{wash.shcl_num}}</td>
				<td>{{wash.soap_num}}</td>
				<td>{{wash.nacl_num}}</td>
				<td>{{wash.flow_num}}</td>
				<td>{{wash.basa_num}}</td>
				<td>{{wash.scpa_num}}</td>
				<td>{{wash.rugl_num}}</td>
				<td>{{wash.dete_num}}</td>
				<td>{{wash.thim_num}}</td>
				<td>{{wash.bacl_num}}</td>
				<td>{{wash.tocl_num}}</td>
				<td>{{wash.babr_num}}</td>
				<td>{{wash.clbr_num}}</td>
			</tr>
		</tbody>
	</table>
	<div class="tcdPageCode">页码容器</div>
	<label class="error-label" ng-show="listIsShow">对不起，未找到相关数据</label>
</div>



